<!DOCTYPE HTML>
<html>
 <head>
   {% load plotly_dash%}
   {% load static%}
   {% load django_bootstrap5 %}
   {% bootstrap_css %}
   {% bootstrap_javascript %}
   {% block extra_header%}{% endblock%}
   {% block app_header_css%}
     <link rel="stylesheet" type="text/css" href="{%static "demo/demo.css"%}"></link>
   {% endblock%}
   {% plotly_header%}
   <title>Django Plotly Wagtail Demo - {% block title%}{% endblock%}</title>
 </head>
 <body>
   <header>
   </header>
   <main>
     {% block main_top%}{% endblock%}
     <div class="container">
       {% block content%}
         <div>
           Helpful links <a href="/cms/">CMS</a> <a href="/admin/">Admin</a>
         </div>
       {% endblock%}
     </div>
   </main>
   {% block footer%}
   {% endblock%}
 </body>
 {% block post_body%}{% endblock%}
 {% plotly_footer%}
</html>
